.parent{
    -fx-background-color: #323754;
}
.header{
    -fx-background-color: #323754;
}
.headerBtns{
    -fx-background-color: transparent;
}
.headerBtns:hover{
    -fx-background-color: transparent;
    -fx-border-color: #9A4595;
    -fx-border-width: 2px;
    -fx-border-style: solid;
}

.menu_bar{
    -fx-background-color: white;
    -fx-background-image:url("../utils/menu.png");
   -fx-background-position: center center;
}

.main
{
        -fx-background-color: #4169E1;
}

.menu_item{
    -fx-font-weight:bold;
    -fx-font-size:18;
}

.menu_item:hover{
    -fx-font-weight:bold;
    -fx-font-size:16;
    -fx-text-color: red;
}