/*
 * Empty Stylesheet file.
 */

.menu-item:hover{
  -fx-background-color: #0000CD;
  -fx-text-fill: #ffffff;
}


.menu:hover{
  -fx-background-color: #0000CD;
  -fx-text-fill: #ffffff;
}

.bgmenu{
    -fx-background-image: url("C:/Users/azizkastalli/Documents/NetBeansProjects/PIDEV/src/gui");
}